@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic,400,900,300italic,300,700,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	overflow-x: hidden; /* Pour désactiver le scroll vertical */ 
	overflow-y: hidden; /* Pour désactiver le scroll horizontal */ 
}

a {
	text-decoration: none;
}


#home {
	z-index: 1;
	height: 100vh;
	width: 100vw;
	background: url("../img/site/bg.png");
	background-size: cover;
}

.calc {
	z-index: 2;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.37);
	background-size: cover;
}


#home .containt {
	z-index: 3;
	width: 60vw;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

#home h2 {
	z-index: 3;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	color: #fafafa;
	letter-spacing: 10px;
	padding-top: 50px;
}

#home h1 {
	z-index: 3;
	font-family: 'Merriweather', serif;
	font-size: 72px;
	color: #fafafa;
	text-transform: uppercase;
	letter-spacing: 20px;
	font-weight: lighter;
	padding-top: 50px;
}

#home h5 {
  padding-top: 40px;
  z-index: 3;
  font-family: 'Merriweather', serif;
  font-size: 13px;
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: lighter;
  padding-bottom: 10px;
  font-style: italic;
}

#home h6 {
  z-index: 3;
  font-family: 'Open Sans', serif;
  font-size: 12px;
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: lighter;
  padding-bottom: 10px;
}

#home h6 a {
  z-index: 3;
  font-family: 'Open Sans', serif;
  font-size: 10px;
  color: #fafafa;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

#home h6 a:hover {
  z-index: 3;
  font-family: 'Open Sans', serif;
  font-size: 14px;
  color: #4Fa1ef;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold;
  padding-bottom: 10px;
}

#home p {
	padding-top: 45%;
	padding-bottom: 1vh;
}

#home p a {
	color: #fafafa;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#home p a:hover {
	color: #fafafa;
	text-decoration: underline;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#home i {
	padding-top: 20px;
	z-index: 3;
	color: #fafafa;
}

.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, -6px);}
    65% {-webkit-transform:translate(0, 6px);}
    to {-webkit-transform: translate(0, -6px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, -6px);}
    65% {-moz-transform:translate(0, 6px);}
    to {-moz-transform: translate(0, -6px);}    
}

#infos {
	height: 100vh;
	width: 100vw;
	background-color: rgba(238, 238, 241, 0.48);
}

#infos .containt {
	vertical-align: middle;
	line-height: 100%;
	width: 60vw;
	height: auto;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}

#infos h2 {
  width: 38%;
  margin: 0 auto;
  color: #4Fa1ef;
  font-size: 36px;
  font-family: 'Merriweather', serif;
  letter-spacing: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #4Fa1ef;
}

.linkH {
	width: 35%;
	margin: 0 auto;
	color: #4Fa1ef;
	font-size: 36px;
	font-family: 'Merriweather', serif;
	text-decoration: none;
}

#infos h3 {
  width: 100%;
  margin: 0 auto;
  color: #4Fa1ef;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 60px;
  letter-spacing: 8px;
  padding-left: 2px;
  font-family: 'Open Sans', sans-serif;
}

#infos p {
	width: 60%;
	margin: 0 auto;
	text-align: justify;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 30px;
	font-weight: lighter;
}

.htp {
	display: block;
	margin: 0 auto;
	height: 100%;
	width: 60%;
	padding-left: 7%;
}

.key {
	display: inline-block;
	padding-top: 0px;
	width: 20%;
	height: auto;
	float: left;
	text-align: left;
}

.key i {
	padding-bottom: 5px;
}

.notice {
	display: inline-block;
	width: 80%;
	height: auto;
	float: right;
	text-align: left;
}

.notice p{
	padding-top: 35px;
	width: 100% !important;
	margin: 0 !important;
	font-size: 16px !important;
	float: left;
}

.link{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.journey {
	  margin-top: 30px; 
	  border: 1px solid #4Fa1ef;
	  padding-right: 20px;
	  padding-left: 20px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  color: #4Fa1ef;
	  text-decoration: none;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 20px;
	  text-transform: uppercase;
	  -webkit-transition: all 300ms ease-in-out;
	  -ms-transition: all 300ms ease-in-out;
	  -o-transition: all 300ms ease-in-out;
	  transition: all 300ms ease-in-out;
}

.journey:hover {
	background-color: #4Fa1ef;
	color: #fafafa;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.journey2 {
	  margin-top: 10px; 
	  color: #535353;
	  text-decoration: none;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 20px;
	  text-transform: uppercase;
	  border-bottom: 1px dotted #535353;
	  -webkit-transition: all 300ms ease-in-out;
	  -ms-transition: all 300ms ease-in-out;
	  -o-transition: all 300ms ease-in-out;
	  transition: all 300ms ease-in-out;
}

.journey2:hover {
	color: #4Fa1ef;
	border-bottom: 1px solid #4Fa1ef;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}


#characters {
	height: 100vh;
	width: 100vw;
	background-color: white;
}

#characters .containt {
	width: 70vw;
	height: auto;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}

#characters h2 {
  width: 38%;
  margin: 0 auto;
  color: #4Fa1ef;
  font-size: 36px;
  font-family: 'Merriweather', serif;
  letter-spacing: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #4Fa1ef;
}

#characters h3 {
  width: 100%;
  margin: 0 auto;
  color: #4Fa1ef;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 0px;
  letter-spacing: 1px;
  padding-left: 2px;
  font-family: 'Open Sans', sans-serif;
}

.choose {
	width: 900px;
	height: 350px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 3%;
}

#g {
	width: 300px;
	display: inline;
	background-color: red;
}

#r {
	width: 300px;
	display: inline;
}

#b {
	width: 300px;
	display: inline;
}

#g .persoSg {
	position: absolute;
	text-transform: uppercase;
	margin-top: 22%;
	margin-left: -5%;
	padding-right: 2%;
	color: black;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#r .persoSr {
	position: absolute;
	text-transform: uppercase;
	margin-top: 22%;
	margin-left: -5%;
	padding-right: 2%;
	color: black;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#b .persoSb {
	position: absolute;
	text-transform: uppercase;
	margin-top: 22%;
	margin-left: -6%;
	padding-right: 2%;
	color: black;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#g:hover .persoSg {
	position: absolute;
	margin-top: 22%;
	margin-left: -5%;
	padding-right: 2%;
	color: #1dab5a;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#r:hover .persoSr {
	position: absolute;
	margin-top: 22%;
	margin-left: -5%;
	padding-right: 2%;
	color: #8d2d27;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

#b:hover .persoSb {
	position: absolute;
	margin-top: 22%;
	margin-left: -6%;
	padding-right: 2%;
	color: #033645;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}


.explanation {
	width: 60%;
	margin: 0 auto;
	text-align: justify;
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

.blue {
	cursor:pointer;
	display: inline-block;
	float: left;
	background: url("../img/site/black.png");
	width: 300px;
	height: 280px;
	z-index: 2000;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.blue:hover {
	background: url("../img/site/bleu.png");
	width: 300px;
	height: 280px;
	z-index: 2000;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.blue:active {
	background: url("../img/site/bleu.png");
	width: 300px;
	height: 280px;
	z-index: 2000;
}

.red {
	cursor:pointer;
	display: inline-block;
	float: left;
	background: url("../img/site/black.png");
	width: 300px;
	height: 280px;
	z-index: 2000;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.red:hover {
	background: url("../img/site/rouge.png");
	width: 300px;
	height: 280px;
	z-index: 2000;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;

}

.red:active {
	background: url("../img/site/rouge.png");
	width: 300px;
	height: 280px;
	z-index: 2000;

}

.green {
	cursor:pointer;
	display: inline-block;
	float: left;
	background: url("../img/site/black.png");
	width: 300px;
	height: 280px;
	z-index: 2000;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.green:hover {
	background: url("../img/site/vert.png");
	width: 300px;
	height: 280px;
	z-index: 2000;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;

}

.green:active {
	background: url("../img/site/vert.png");
	width: 300px;
	height: 280px;
	z-index: 2000;

}

#world {
	height: 100vh;
	width: 100vw;
	background-color: white;
}

#world .containt {
	width: 60vw;
	height: auto;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}

#chooseW {
    margin-top: 8vh;
}

#world h2 {
  width: 38%;
  margin: 0 auto;
  color: #4Fa1ef;
  font-size: 36px;
  font-family: 'Merriweather', serif;
  letter-spacing: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #4Fa1ef;
}

#world h3 {
  width: 100%;
  margin: 0 auto;
  color: #4Fa1ef;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: -20px;
  letter-spacing: 1px;
  padding-left: 2px;
  font-family: 'Open Sans', sans-serif;
}

.pTw {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 16px;
	padding-bottom: 0%;
	font-weight: lighter;
}

#w1 {
	height: 90vh;
	display: inline;
	float: left;
	width: 25vw;
	background: url('../img/site/w1.png');
	background-size: cover;
}

#w2 {
	height: 90vh;
	width: 25vw;
	display: inline;
	float: left;
	background: url('../img/site/w2.png');
	background-size: cover;
}

#w3 {
	height: 90vh;
	width: 25vw;
	display: inline;
	float: left;
	background: url('../img/site/w3.png');
	background-size: cover;
}

#w4 {
	height: 90vh;
	display: inline;
	float: left;
	width: 25vw;
	background: url('../img/site/w4.png');
	background-size: cover;
}

.world {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	background-size: cover;
	-webkit-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.world:hover {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.37);
	background-size: cover;
	-webkit-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.world .champ{
	padding: 3%;
	width: 100%;
	height: auto;
	text-align: left;
	margin-right: 8%;
	display: none;
	-webkit-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.world:hover .champ{
	padding-top: 80%;
	width: 50%;
	margin: 0 auto;
	height: auto;
	text-align: center;
	display: block;
	opacity: 1;
	-webkit-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

.pW {
	color: #fafafa;
	font-family: 'Merriweather', serif;
	font-size: 18px;
	line-height: 26px;
	text-decoration: none;
	width: 100%;
}

.titleW {
	color: #fafafa;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	text-decoration: none;
	padding-bottom: 10%;
	width: 100%;
	text-transform: uppercase;
}

.victoire {
	z-index: 9999999;
	font-family: Impact;
	font-weight: 800;
	color: transparent;
	font-size:40vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-background-clip: text;
	position:relative;
	text-align:center;
	letter-spacing: 20px;
}

#victoire1 {
 	background: url("../img/worlds/bgScene1.png") repeat;
}

#victoire2 {
	background: url("../img/worlds/bgScene2.png") repeat;
}

#victoire3 {
background: url("../img/worlds/bgScene3.png") repeat;
}

#victoire4 {
	background: url("../img/worlds/bgScene4.png") repeat;
}

@media screen and (max-width: 1370px) {
 #home p {
  padding-top: 35%;
  padding-bottom: 1vh;
}

.explanation {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  padding-top: 0px;
  padding-bottom: 30px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
}