body {
	margin: 0; 
	padding: 0;
	background-size:cover;
	overflow: hidden;
	width: auto; 
}

.overlay {
	display: block;
	position: absolute;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	height: 100vh;
	width: 100%;
	padding: auto;
	text-align: center;
}

.hidden {
	display: none;
}

.overlay h3 {
	margin-top: 40vh;
	font-size: 4em;
}

.overlay h5 {
	font-size: 2em;
}

.parallax-layer {
	width: auto; 
    height: 100vh; 
    background: url("../img/bgScene1.png") repeat-x 0 bottom;
}

.ground {
	position:absolute;
	z-index:500;
	right:0px;
	bottom:-5px;
}

#perso {
	position: absolute;
	width: 76px;
	height: 115px;  
	background: url("http://img15.hostingpics.net/pics/427342perso.png") no-repeat;
	transform: translateY (0);
	top: 40%;
	left: 70px;
	z-index: 40;
}

