body {
	margin: 0; 
	padding: 0;
	background-size:cover;
	overflow: hidden;
	width: auto; 
}

#game {
	display: none;
}

#site {
	display: block;
}

header {
	z-index: 1000;
	position: fixed;
	top:0px;
	width: 100vw;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
}

nav {
	padding-top: 5px;
	width: 80vw;
	margin: 0 auto;
	color: #fafafa;
}

.left {
	float: left;
	display: inline;
	width: 50%;
	padding-top: 6px;
}

.left .worldselect:disabled {
	color: #dddddd;
}

.right {
	float: right;
	display: inline;
	width: 50%;
	text-align: right;
	  margin-top: -3px;
}

.right p, .right li #scoreCounter {
	text-decoration: none;
	font-size: 18px;
	display: inline;
	margin-right: 10px;
}

.right li {
	margin-right: 10px;
	list-style: none;
	display: inline;
}

nav ul li {
	margin-right: 20px;
	list-style: none;
	display: inline;
	color: #fafafa;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

nav ul li h1 {
	font-size: 32px;
	display: inline;
}

nav ul li h1 a {
	color: #fafafa;
	text-decoration: underline;
}

nav ul li h1 a:hover {
	color: #4Fa1ef;
	text-decoration: underline;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

nav ul li a {
	text-decoration: none;
	color: #fafafa;
	font-size: 25px;
}

nav ul li a:hover {
	text-decoration: underline;
	color: #4Fa1ef;
	font-size: 25px;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

nav ul li button {
	background-color: transparent;
	color: #fafafa;
	border:none;
	cursor: pointer;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

nav ul li button:hover {
	background-color: transparent;
	color: #4Fa1ef;
	border:none;
	cursor: pointer;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.overlay {
	display: block;
	position: absolute;
	z-index: 900;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	height: 100vh;
	width: 100%;
	padding: auto;
	padding-bottom: 205px;
	text-align: center;
	-webkit-transform: translateY(0vh);
  	-webkit-animation: overlay 2s;
}

.overlay h3 {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 8px;
}

.overlay h5 {
	padding-top: 10px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
}

@-webkit-keyframes overlay {
  0% {
    -webkit-transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
   -webkit-transform: translateY(0vh);
   opacity: 1;
  }
}

.hidden {
	opacity: 0;
	-webkit-transform: translateY(0vh);
  	-webkit-animation: hiddenO 3s;
}

@-webkit-keyframes hiddenO {
  0% {
    -webkit-transform: translateY(0vh);
    opacity: 1;
  }
 
  100% {
   -webkit-transform: translateY(-100vh);
   opacity:0;
   display: none;
  }
}

.overlay h3 {
	margin-top: 50vh;
	font-size: 4em;
}

.overlay h5 {
	font-size: 2em;
}

.parallax {
	z-index: 400;
	background-size: cover;
	height: 140vh;
}

.parallax-layer {
	width: auto;
 	height: 140vh;
 	margin-top: -85px;
 	background-size: cover;
    background: url("../img/worlds/bgScene1.png") repeat-x 0 bottom;
}

.ground {
	position:absolute;
	z-index:500;
	right:0px;
	bottom:-5px;
}

.obstacle {
	position: absolute;
	z-index: 501;
	right: 0;
	width: auto;
	height: auto;
}

#perso {
	position: absolute;
	width: 128px;
	height: 200px;  
	background: url("../img/perso1.png") no-repeat;
	bottom: 110px;
	left: 200px;
	z-index: 800;
}


/* For hitbox debugging */

/*[data-hitbox=true] {
	border: 1px solid red;
}*/